<config>
    <global>
        <models>
            <randomer>
                <class>Pbc_Randomer_Model</class>
            </randomer>
        </models>
        
        <events>
            
        </events>
    </global>
    
    
    <frontend>
        <routers>
            <Pbc_Randomer>
                <use>standard</use>
                <args>
                    <module>Pbc_Randomer</module>
                    <frontName>randomer</frontName>
                </args>
            </Pbc_Randomer>
        </routers>
    </frontend>
</config>